body,
html {
  color: white;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body.modal-open{
  padding-right: 0px !important;
  overflow: visible !important;
}

.jumbotron {
  /* Multiple background with no-repeat */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  margin-bottom: auto;
}

.profile {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(10%, transparent), color-stop(90%, transparent), to(black)), url(/images/index/profile.jpg);
  background-image: linear-gradient(black 0%, transparent 50%, black 100%), url(/images/index/adminbg.jpeg);
}

.modal .modal-title, .modal .modal-body {
  color: black;
  text-align: left;
}

.footer p {
  font-size: 14px;
  color: grey;
}

@media (min-width: 992px) {
  .profile h1 {
    font-size: 44px;
  }
}